img {
  height: 200px;
  width: 200px;
  display: inline-block;
}

#img-0 {
height: 500px;


}

#img-1 {
  height: 100px;
  width: 100px;
  
}

#img-2 {
  height: 500px;
 padding-bottom: 50px;
}

#img-3 {

  
}

#img-4 {
  
}

#img-5 {
  border-radius: 50%;
  
}

#img-6 {
  border-radius: 50%;
  
}

#img-7 {
  
}

#img-8 {
  
}

#img-9 {
  height: 500px;
  padding-bottom: 50px;
}

#img-10 {
  height: 100px;
  width: 100px;
  
}

#img-11 {
  height: 500px;
  
}